<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DuAn1Lion.Properties.Settings.QuanLiQuanCaPheConnectionString"
            connectionString="Data Source=PJ;Initial Catalog=QuanLiQuanCaPhe;User ID=sa;Password=89898989;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DuAn1Lion.Properties.Settings.QuanLiQuanCaPheConnectionString1"
            connectionString="Data Source=ADMIN-LUAN-PC08;Initial Catalog=QuanLiQuanCaPhe;Persist Security Info=True;User ID=sa;Password=123456;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DuAn1Lion.Properties.Settings.QuanLiQuanCaPheConnectionString2"
            connectionString="Data Source=NGUYENQUOCANH-S;Initial Catalog=QuanLiQuanCaPhe;Persist Security Info=True;User ID=sa;Password=12345;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>